node_modules
apps/backend/node_modules
apps/backend/prisma/backups/**
apps/backend/prisma/backups/*.txt
apps/backend/prisma/backups/*.db
apps/backend/prisma/backups/*.sql
apps/backend/prisma/migrations
apps/backend/prisma/*.db
apps/backend/**/*.db
apps/backend/**/**.db
apps/backend/prisma/csv/** */
**.db
**.csv

.env**
public
public/scrapped-data
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/extensions.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
